body {
    font-family: Arial, sans-serif;
    background-image: url('pic1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Set minimum height to ensure flexbox fills the viewport */
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Set maximum width for the container */
    width: 80%; /* Set width for the container */
}

/* Other styles */


h2 {
    color: #333333;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: calc(100% - 22px);
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

h3 {
    margin-top: 20px;
}